@import '../../Colors.module.scss';

.contentBlock {
    background: $darkest-blue;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.25), 0px 80px 180px -60px #1D9BF0;
    border-radius: 35px;
    padding: 25px 60px 60px;
    width: 350px;
    min-height: 350px;
}